body,
html {
  overflow-x: hidden;
  font-family: "Tenor Sans";
}
body.overflow,
html.overflow {
  overflow: hidden !important;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tenor Sans";
}

input,
textarea {
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
}
button:focus {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.wrapper {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 25.474px;
  font-family: "SFT Schrifted Sans TRIAL";
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: radial-gradient(90.14% 172.7% at 50% -72.7%, #FFF 0%, #492E1E 100%);
}
@media (max-width: 767px) {
  .main-btn {
    font-size: 20px;
  }
}
.main-btn img {
  margin-right: 10px;
}

.green-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 25.474px;
  font-family: "SFT Schrifted Sans TRIAL";
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: radial-gradient(50.91% 97.54% at 50% 2.46%, #318E4D 0%, #135426 100%);
}
@media (max-width: 767px) {
  .green-btn {
    font-size: 20px;
  }
}
.green-btn img {
  margin-right: 10px;
}

.slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 70px;
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .slider-navigation {
    bottom: 10px;
  }
}
.slider-navigation button {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background: white;
  border: 1px solid #fff;
  position: static;
  transform: translate(0, 0);
}
.slider-navigation button:before {
  content: none;
}
.slider-navigation button.slick-next svg {
  transform: rotate(180deg);
}
.slider-navigation button svg {
  margin: auto;
  transition: 0.3s;
  fill: #0A011F;
}
.slider-navigation button:hover {
  background: #0E1D3A;
}
.slider-navigation button:hover svg {
  fill: #fff;
}

.drop-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  display: none;
  margin-left: 15px;
}
@media (max-width: 1024px) {
  .drop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.drop-menu .line {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 3px auto;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.drop-menu.is-active .line:nth-child(3) {
  opacity: 0;
}

.drop-menu.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

.drop-menu.is-active .line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-45deg);
  -ms-transform: translateY(1px) rotate(-45deg);
  -o-transform: translateY(1px) rotate(-45deg);
  transform: translateY(1px) rotate(-45deg);
}

@font-face {
  font-family: "SFT Schrifted Sans TRIAL";
  src: url("../fonts/SFTSchriftedSansTRIAL-Light.woff2") format("woff2"), url("../fonts/SFTSchriftedSansTRIAL-Light.woff") format("woff"), url("../fonts/SFTSchriftedSansTRIAL-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFT Schrifted Sans TRIAL";
  src: url("../fonts/SFTSchriftedSansTRIAL-Bold.woff2") format("woff2"), url("../fonts/SFTSchriftedSansTRIAL-Bold.woff") format("woff"), url("../fonts/SFTSchriftedSansTRIAL-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Tenor Sans";
  src: url("../fonts/TenorSans.woff2") format("woff2"), url("../fonts/TenorSans.woff") format("woff"), url("../fonts/TenorSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFT Schrifted Sans TRIAL DemiBd";
  src: url("../fonts/SFTSchriftedSansTRIAL-DemiBold.woff2") format("woff2"), url("../fonts/SFTSchriftedSansTRIAL-DemiBold.woff") format("woff"), url("../fonts/SFTSchriftedSansTRIAL-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFT Schrifted Sans TRIAL";
  src: url("../fonts/SFTSchriftedSansTRIAL-Regular.woff2") format("woff2"), url("../fonts/SFTSchriftedSansTRIAL-Regular.woff") format("woff"), url("../fonts/SFTSchriftedSansTRIAL-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFT Schrifted Sans TRIAL";
  src: url("../fonts/SFTSchriftedSansTRIAL-Medium.woff2") format("woff2"), url("../fonts/SFTSchriftedSansTRIAL-Medium.woff") format("woff"), url("../fonts/SFTSchriftedSansTRIAL-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT America Trial Exp Md";
  src: url("../fonts/GTAmericaTrial-ExpMd.woff2") format("woff2"), url("../fonts/GTAmericaTrial-ExpMd.woff") format("woff"), url("../fonts/GTAmericaTrial-ExpMd.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.tour-3d {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .tour-3d {
    min-height: 300px;
  }
}
.tour-3d img {
  width: 100%;
}

.call-back {
  background: linear-gradient(166deg, #C3AA7F -8.87%, #250A01 128.71%);
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .call-back {
    padding-bottom: 50px;
  }
}
.call-back .wrapper {
  position: relative;
  z-index: 0;
}
.call-back .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -120px;
}
@media (max-width: 767px) {
  .call-back .img-wrap {
    margin-top: -30px;
    margin-bottom: 20px;
  }
}
.call-back .img-wrap img {
  width: 100%;
}
.call-back .call-back-form {
  max-width: 430px;
  width: 100%;
  position: absolute;
  right: 50px;
  bottom: 100px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .call-back .call-back-form {
    right: inherit;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }
}
@media (max-width: 767px) {
  .call-back .call-back-form {
    position: static;
    margin: 0 auto;
    transform: translateX(0);
  }
}
.call-back .call-back-form h3 {
  margin-bottom: 20px;
  color: #FFF;
  text-align: center;
  font-family: "SFT Schrifted Sans TRIAL";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%;
}
@media (max-width: 767px) {
  .call-back .call-back-form h3 {
    font-size: 24px;
  }
}
.call-back .call-back-form input {
  background: white;
  padding: 0 20px;
  border-radius: 14px;
  height: 65px;
  width: 100%;
  color: #1F2026;
  font-family: "SFT Schrifted Sans TRIAL";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.15px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .call-back .call-back-form input {
    height: 55px;
  }
}
.call-back .call-back-form input::-webkit-input-placeholder {
  color: #1F2026;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.call-back .call-back-form input::-moz-placeholder {
  color: #1F2026;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.call-back .call-back-form input:-ms-input-placeholder {
  color: #1F2026;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.call-back .call-back-form input:-moz-placeholder {
  color: #1F2026;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.call-back .call-back-form button {
  margin-top: 25px;
}
@media (max-width: 767px) {
  .call-back .call-back-form button {
    margin-top: 10px;
  }
}

.get-consultation {
  padding: 40px 0;
  background: linear-gradient(180deg, #C3AA7F 0%, #250A01 100%);
}
@media (max-width: 767px) {
  .get-consultation {
    padding: 30px 0;
  }
}
.get-consultation .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .get-consultation .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .get-consultation .wrapper > img {
    margin: 20px auto;
  }
}
.get-consultation .wrapper h2 {
  max-width: 330px;
  font-family: "Tenor Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  background: var(--11, linear-gradient(90deg, #D5C298 -17.65%, #FFF 49.97%, #D5C298 117.59%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767px) {
  .get-consultation .wrapper h2 {
    font-size: 24px;
    text-align: center;
  }
}
.get-consultation .wrapper .main-btn {
  font-size: 20px;
}

@media (max-width: 1024px) {
  .map-wrap .wrapper {
    padding: 0;
  }
}
.map-wrap #map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 570px;
}
@media (max-width: 1024px) {
  .map-wrap #map {
    height: 400px;
  }
}

.whats-nearby {
  margin-top: 30px;
}
.whats-nearby h2 {
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 57.429px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.723px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .whats-nearby h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .whats-nearby h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
}
.whats-nearby .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .whats-nearby .images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.whats-nearby .images img {
  width: 50%;
}
@media (max-width: 767px) {
  .whats-nearby .images img {
    width: 100%;
  }
}

.video-wrap {
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .video-wrap {
    margin-top: 30px;
  }
  .video-wrap .wrapper {
    padding: 0;
  }
}
.video-wrap .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 430px;
}
@media (max-width: 1024px) {
  .video-wrap .video {
    height: 60vw;
  }
}
.video-wrap .video iframe {
  width: 100%;
}

.planning-solutions {
  margin-top: 30px;
  padding: 40px 0 60px;
  background: linear-gradient(180deg, #C3AA7F 0%, #250A01 100%);
}
@media (max-width: 767px) {
  .planning-solutions {
    padding: 40px 0;
  }
}
.planning-solutions h2 {
  margin-bottom: 10px;
  font-family: "Tenor Sans";
  font-size: 57.429px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.723px;
  text-transform: uppercase;
  background: var(--11, linear-gradient(90deg, #D5C298 -17.65%, #FFF 49.97%, #D5C298 117.59%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1024px) {
  .planning-solutions h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .planning-solutions h2 {
    font-size: 30px;
  }
}
.planning-solutions .images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (max-width: 767px) {
  .planning-solutions .images {
    grid-template-columns: 1fr;
  }
}
.planning-solutions .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.planning-solutions .images img:hover {
  transform: scale(1.05);
}

.community-club {
  padding: 40px 0;
}
@media (max-width: 1024px) {
  .community-club {
    padding: 30px 0 10px;
  }
}
.community-club .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .community-club .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.community-club .wrapper .left {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 767px) {
  .community-club .wrapper .left {
    width: 100%;
    margin-bottom: 30px;
  }
}
.community-club .wrapper .left h2 {
  color: #000;
  font-family: "Tenor Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 450px;
}
@media (max-width: 1024px) {
  .community-club .wrapper .left h2 {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .community-club .wrapper .left h2 {
    font-size: 30px;
  }
}
.community-club .wrapper .left .main-btn {
  font-size: 16px;
  margin-bottom: 20px;
  align-self: flex-start;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.community-club .wrapper .right {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .community-club .wrapper .right {
    width: 37%;
  }
}
@media (max-width: 767px) {
  .community-club .wrapper .right {
    width: 100%;
  }
}
.community-club .wrapper .right img {
  width: 100%;
  transition: 0.3s;
}
.community-club .wrapper .right img:hover {
  transform: scale(1.03);
}

.opens-doors {
  padding: 40px 0;
  background: linear-gradient(180deg, #C3AA7F 0%, #250A01 100%);
}
.opens-doors .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .opens-doors .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.opens-doors .top h2 {
  font-family: "Tenor Sans";
  font-size: 57.429px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.723px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #D5C298 -17.65%, #FFF 49.97%, #D5C298 117.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 650px;
}
@media (max-width: 1200px) {
  .opens-doors .top h2 {
    font-size: 40px;
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  .opens-doors .top h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%;
  }
}
.opens-doors .top .main-btn {
  align-self: center;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .opens-doors .top .main-btn {
    font-size: 16px;
  }
}

.halls-slider-wrap {
  position: relative;
  z-index: 0;
}
.halls-slider-wrap h3 {
  margin-bottom: 20px;
  font-family: "Tenor Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #D5C298 -17.65%, #FFF 49.97%, #D5C298 117.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767px) {
  .halls-slider-wrap h3 {
    font-size: 24px;
  }
}
.halls-slider-wrap .halls-slider .item .bg {
  height: 510px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 1024px) {
  .halls-slider-wrap .halls-slider .item .bg {
    height: 45vw;
  }
}
@media (max-width: 767px) {
  .halls-slider-wrap .halls-slider .item .bg {
    height: 55vw;
  }
}

.community-slider-wrap {
  position: relative;
  z-index: 0;
  margin-top: auto;
}
.community-slider-wrap .community-slider .item .bg {
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 1024px) {
  .community-slider-wrap .community-slider .item .bg {
    height: 33vw;
  }
}
@media (max-width: 767px) {
  .community-slider-wrap .community-slider .item .bg {
    height: 55vw;
  }
}

.yard-wrap {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .yard-wrap .wrapper {
    padding: 0;
  }
}
.yard-wrap .bottom-info {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .yard-wrap .bottom-info {
    display: none;
  }
}
.yard-wrap .bottom-info h4 {
  color: #000;
  font-family: "Tenor Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 104.905%;
  text-transform: uppercase;
  width: 240px;
}
@media (max-width: 1024px) {
  .yard-wrap .bottom-info h4 {
    font-size: 16px;
  }
}
.yard-wrap .bottom-info .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
}
.yard-wrap .bottom-info .img-wrap img {
  width: 100%;
}
.yard-wrap .top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .yard-wrap .top-info {
    flex-direction: column-reverse;
  }
}
.yard-wrap .top-info .left-info {
  width: 63%;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .yard-wrap .top-info .left-info {
    width: 66%;
  }
}
@media (max-width: 767px) {
  .yard-wrap .top-info .left-info {
    width: 100%;
    margin-top: 20px;
  }
}
.yard-wrap .top-info .left-info .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}
@media (max-width: 767px) {
  .yard-wrap .top-info .left-info .img {
    min-height: 280px;
  }
}
.yard-wrap .top-info .left-info .img img {
  width: 100%;
}
.yard-wrap .top-info .left-info .info {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}
@media (max-width: 767px) {
  .yard-wrap .top-info .left-info .info {
    width: 100%;
  }
}
.yard-wrap .top-info .left-info .info .main-btn {
  font-size: 16px;
  margin-bottom: 20px;
  align-self: flex-start;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 15px;
}
@media (max-width: 767px) {
  .yard-wrap .top-info .left-info .info .main-btn {
    font-size: 14px;
  }
}
.yard-wrap .top-info .left-info .info .list-wrap {
  padding: 30px 20px;
  border-radius: 0px 59px 0px 0px;
  background: linear-gradient(180deg, rgba(195, 170, 127, 0.8) 0%, rgba(37, 10, 1, 0.8) 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (max-width: 1024px) {
  .yard-wrap .top-info .left-info .info .list-wrap {
    padding: 20px 10px;
    padding-right: 20px;
    gap: 15px;
    border-radius: 0px 20px 0px 0px;
  }
}
@media (max-width: 767px) {
  .yard-wrap .top-info .left-info .info .list-wrap {
    padding: 16px 8px;
    border-radius: 15px 15px 0 0;
  }
}
.yard-wrap .top-info .left-info .info .list-wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  color: white;
}
@media (max-width: 1024px) {
  .yard-wrap .top-info .left-info .info .list-wrap .item {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .yard-wrap .top-info .left-info .info .list-wrap .item {
    font-size: 11px;
  }
}
.yard-wrap .top-info .left-info .info .list-wrap .item img {
  margin-right: 10px;
  width: 14px;
}
@media (max-width: 1024px) {
  .yard-wrap .top-info .left-info .info .list-wrap .item img {
    margin-right: 8px;
    width: 12px;
  }
}
.yard-wrap .top-info .right-info {
  width: 35%;
}
@media (max-width: 1024px) {
  .yard-wrap .top-info .right-info {
    width: 32%;
  }
}
@media (max-width: 767px) {
  .yard-wrap .top-info .right-info {
    width: 100%;
  }
}
.yard-wrap .top-info .right-info .texts {
  text-align: center;
}
.yard-wrap .top-info .right-info .texts b {
  display: block;
  color: #000;
  font-family: "Tenor Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 104.905%;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .yard-wrap .top-info .right-info .texts b {
    font-size: 34px;
  }
}
.yard-wrap .top-info .right-info .texts span {
  color: #000;
  text-align: center;
  font-family: "SFT Schrifted Sans TRIAL";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 104.905%;
  max-width: 200px;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.yard-wrap .top-info .right-info .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .yard-wrap .top-info .right-info .img {
    height: 180px;
  }
}
.yard-wrap .top-info .right-info .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-space {
  background: #C3AA7F url(../img/more-space-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.more-space .info {
  margin: 40px 0 460px;
}
@media (max-width: 1024px) {
  .more-space .info {
    margin-bottom: 250px;
  }
}
@media (max-width: 767px) {
  .more-space .info {
    margin-top: 30px;
    margin-bottom: 200px;
  }
}
.more-space .info h2 {
  margin-bottom: 30px;
  font-family: "Tenor Sans";
  font-size: 57.429px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.723px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #D5C298 -43.38%, #FFF 37.04%, #D5C298 117.46%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 550px;
}
@media (max-width: 1024px) {
  .more-space .info h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .more-space .info h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
.more-space .info .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "SFT Schrifted Sans TRIAL";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: white;
  max-width: 430px;
  margin-bottom: 30px;
  background: linear-gradient(164deg, rgba(195, 170, 127, 0.9) -18.55%, rgba(37, 10, 1, 0.9) 145.41%);
  padding: 5px;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .more-space .info .text {
    font-size: 16px;
    max-width: 300px;
  }
}
.more-space .info .text img {
  margin-right: 10px;
}
.more-space .info .main-btn {
  align-self: flex-start;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
}

.for-children {
  padding: 40px 0;
  background: linear-gradient(164deg, rgba(195, 170, 127, 0.9) -18.55%, rgba(37, 10, 1, 0.9) 145.41%);
}
.for-children h2 {
  color: #FFF;
  font-family: "Tenor Sans";
  font-size: 57.429px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.723px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .for-children h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .for-children h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.for-children .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
@media (max-width: 767px) {
  .for-children .items {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.for-children .items img {
  width: 100%;
}

.time-opportunities {
  margin: 50px 0 90px;
}
@media (max-width: 767px) {
  .time-opportunities {
    margin: 40px 0;
  }
}
.time-opportunities h2 {
  margin-bottom: 40px;
  color: #000;
  font-family: "Tenor Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 104.905%;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .time-opportunities h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .time-opportunities h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.time-opportunities .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
}
@media (max-width: 767px) {
  .time-opportunities .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.time-opportunities .info .style {
  position: absolute;
  bottom: -250px;
  right: 0;
  z-index: -1;
}
@media (max-width: 1024px) {
  .time-opportunities .info .style {
    width: 80%;
    bottom: -120px;
  }
}
@media (max-width: 767px) {
  .time-opportunities .info .style {
    display: none;
  }
}
.time-opportunities .info .small-img {
  position: absolute;
  top: 0;
  left: 40px;
}
@media (max-width: 1024px) {
  .time-opportunities .info .small-img {
    width: 140px;
    left: 0;
  }
}
@media (max-width: 767px) {
  .time-opportunities .info .small-img {
    position: static;
    width: auto;
    align-self: flex-start;
  }
}
.time-opportunities .info .big-img {
  width: 100%;
}
@media (max-width: 767px) {
  .time-opportunities .info .big-img {
    display: none;
  }
}
.time-opportunities .info .mob-img {
  display: none;
}
@media (max-width: 767px) {
  .time-opportunities .info .mob-img {
    width: 100%;
    margin-top: 20px;
    display: block;
  }
}
.time-opportunities .facade-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -180px;
  position: relative;
  z-index: 10;
}
@media (max-width: 1024px) {
  .time-opportunities .facade-wrap {
    top: 40px;
  }
}
@media (max-width: 767px) {
  .time-opportunities .facade-wrap {
    margin-top: 20px;
    top: inherit;
  }
}
.time-opportunities .facade-wrap .main-btn {
  font-size: 16px;
  padding: 5px 20px;
  margin-bottom: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-self: flex-end;
}
@media (max-width: 767px) {
  .time-opportunities .facade-wrap .main-btn {
    align-self: center;
  }
}
.time-opportunities .facade-wrap .facade-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}
@media (max-width: 767px) {
  .time-opportunities .facade-wrap .facade-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }
}
.time-opportunities .facade-wrap .facade-info .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .time-opportunities .facade-wrap .facade-info .texts {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .time-opportunities .facade-wrap .facade-info .texts {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .time-opportunities .facade-wrap .facade-info .texts img {
    display: none;
  }
}
.time-opportunities .facade-wrap .facade-info .texts .text {
  margin-right: 15px;
  text-align: center;
}
@media (max-width: 767px) {
  .time-opportunities .facade-wrap .facade-info .texts .text {
    margin-right: 0;
  }
}
.time-opportunities .facade-wrap .facade-info .texts .text b {
  color: #000;
  font-family: "Tenor Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 104.905%;
  text-transform: uppercase;
  display: block;
}
.time-opportunities .facade-wrap .facade-info .texts .text span {
  text-align: center;
  color: #000;
  font-family: "SFT Schrifted Sans TRIAL";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 104.905%;
}
@media (max-width: 767px) {
  .time-opportunities .facade-wrap .facade-info .texts .text span {
    line-height: 90%;
  }
}
.time-opportunities .facade-wrap .facade-info .click-img {
  max-width: 560px;
  width: 100%;
}
@media (max-width: 1024px) {
  .time-opportunities .facade-wrap .facade-info .click-img {
    max-width: 440px;
  }
}
@media (max-width: 767px) {
  .time-opportunities .facade-wrap .facade-info .click-img {
    max-width: 100%;
  }
}
.time-opportunities .facade-wrap .facade-info .click-img img {
  width: 100%;
}

#popup-slider {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
#popup-slider .popup-body {
  position: relative;
  z-index: 0;
}
#popup-slider .popup-body .mfp-close {
  opacity: 1;
  font-size: 30px;
  color: white;
  right: 0;
  top: -40px;
  width: auto;
  height: auto;
  line-height: inherit;
  position: absolute;
}

.gallery-slider-wrap {
  position: relative;
  z-index: 0;
}
.gallery-slider-wrap .gallery-slider {
  margin-bottom: 0;
}
.gallery-slider-wrap .gallery-slider .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery-slider-wrap .gallery-slider .item img {
  width: 100%;
}

.info-block {
  padding: 40px 0;
  background: linear-gradient(169deg, #C3AA7F -51.22%, #250A01 141.08%);
}
@media (max-width: 767px) {
  .info-block {
    padding: 20px 0;
  }
}
.info-block .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .info-block .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.info-block .wrapper .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 767px) {
  .info-block .wrapper .info-item {
    margin: 10px 0;
  }
}
.info-block .wrapper .info-item b {
  display: block;
  color: #FFF;
  text-align: center;
  font-family: "GT America Trial Exp Md";
  font-size: 17.167px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.515px;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}
.info-block .wrapper .info-item span {
  color: #FFF;
  text-align: center;
  font-family: "SFT Schrifted Sans TRIAL";
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.36px;
}

.banner-wrap {
  padding-top: 220px;
  background: linear-gradient(180deg, #C3AA7F 0%, #250A01 100%);
  position: relative;
  z-index: 0;
}
@media (max-width: 767px) {
  .banner-wrap {
    padding-top: 250px;
  }
}
.banner-wrap .wrapper {
  position: relative;
  z-index: 1;
}
.banner-wrap .wrapper .info {
  margin-top: -100px;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 10;
}
@media (max-width: 1024px) {
  .banner-wrap .wrapper .info {
    margin-top: -140px;
  }
}
.banner-wrap .wrapper .info .title-wrap {
  margin: 0 auto 30px;
  text-align: center;
}
@media (max-width: 767px) {
  .banner-wrap .wrapper .info .title-wrap {
    margin-bottom: 10px;
  }
}
.banner-wrap .wrapper .info .title-wrap > img {
  max-width: 100%;
  max-height: 100%;
}
.banner-wrap .wrapper .info .title-wrap h1 {
  text-align: center;
  font-family: "Tenor Sans";
  font-size: 57.429px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.723px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #D5C298 -17.65%, #FFF 49.97%, #D5C298 117.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1024px) {
  .banner-wrap .wrapper .info .title-wrap h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .banner-wrap .wrapper .info .title-wrap h1 {
    font-size: 32px;
  }
}
.banner-wrap .wrapper .info .texts {
  max-width: 380px;
  width: 100%;
  margin-left: auto;
  margin-right: 100px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .banner-wrap .wrapper .info .texts {
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
  }
}
.banner-wrap .wrapper .info .texts h3 {
  font-family: "SFT Schrifted Sans TRIAL";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.75px;
  background: linear-gradient(90deg, #D5C298 -17.65%, #FFF 49.97%, #D5C298 117.59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;
}
.banner-wrap .wrapper .info .texts p {
  font-family: "SFT Schrifted Sans TRIAL";
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.3px;
  background: linear-gradient(90deg, #D5C298 -78.07%, #FFF 61.1%, #D5C298 200.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-wrap .wrapper .info .buttons {
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: 15px;
}
@media (max-width: 767px) {
  .banner-wrap .wrapper .info .buttons {
    margin: 0px auto;
  }
}
.banner-wrap .wrapper .info .buttons a {
  width: 100%;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 20px;
}
.banner-wrap .slider-wrap {
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: 10;
  width: 100%;
}
@media (max-width: 767px) {
  .banner-wrap .slider-wrap {
    position: static;
    margin-top: -130px;
  }
}
.banner-wrap .slider-wrap .slider-navigation {
  left: 100px;
  transform: translateX(0);
  top: -50px;
}
@media (max-width: 1024px) {
  .banner-wrap .slider-wrap .slider-navigation {
    left: 20px;
  }
}
.banner-wrap .slider-wrap .slider-nav {
  padding: 15px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
}
@media (max-width: 767px) {
  .banner-wrap .slider-wrap .slider-nav {
    padding-right: 0;
  }
}
.banner-wrap .slider-wrap .slider-nav .item {
  width: 217px;
  height: 157px;
  margin: 0 12px;
}
@media (max-width: 767px) {
  .banner-wrap .slider-wrap .slider-nav .item {
    width: 180px;
    height: 140px;
    margin: 0 6px;
  }
}
.banner-wrap .slider-wrap .slider-nav .item .bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.banner-wrap .slider-for .item .bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 82vw;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 0;
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .header .wrapper .logo {
    width: 70px;
  }
  .header .wrapper .logo img {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .header .wrapper .menu-wrap {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background: white;
    padding: 20px 18px;
    width: 100%;
    height: calc(100vh - 111px);
    transform: scale(0);
    transition: 0.3s;
  }
  .header .wrapper .menu-wrap.open {
    transform: scale(1);
  }
}
.header .wrapper .menu-wrap .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .header .wrapper .menu-wrap .main-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.header .wrapper .menu-wrap .main-menu li {
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .header .wrapper .menu-wrap .main-menu li {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.header .wrapper .menu-wrap .main-menu li a {
  color: #FFF;
  font-family: "Tenor Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .header .wrapper .menu-wrap .main-menu li a {
    color: #C3AA7F;
    font-size: 18px;
    font-weight: 500;
  }
}
.header .wrapper .menu-wrap .main-menu li a:hover {
  color: #492E1E;
}
.header .wrapper .soc-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}
.header .wrapper .soc-links a {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .header .wrapper .soc-links a {
    margin-right: 15px;
  }
}
.header .wrapper .main-btn {
  padding: 6px 18px;
  font-size: 15px;
}
@media (max-width: 1024px) {
  .header .wrapper .main-btn {
    font-size: 0;
    padding: 5px;
    width: 34px;
    height: 34px;
  }
  .header .wrapper .main-btn img {
    margin: auto;
    width: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
