@font-face {
  font-family: 'SFT Schrifted Sans TRIAL';
  src: url('../fonts/SFTSchriftedSansTRIAL-Light.woff2') format('woff2'),
      url('../fonts/SFTSchriftedSansTRIAL-Light.woff') format('woff'),
      url('../fonts/SFTSchriftedSansTRIAL-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFT Schrifted Sans TRIAL';
  src: url('../fonts/SFTSchriftedSansTRIAL-Bold.woff2') format('woff2'),
      url('../fonts/SFTSchriftedSansTRIAL-Bold.woff') format('woff'),
      url('../fonts/SFTSchriftedSansTRIAL-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tenor Sans';
  src: url('../fonts/TenorSans.woff2') format('woff2'),
      url('../fonts/TenorSans.woff') format('woff'),
      url('../fonts/TenorSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFT Schrifted Sans TRIAL DemiBd';
  src: url('../fonts/SFTSchriftedSansTRIAL-DemiBold.woff2') format('woff2'),
      url('../fonts/SFTSchriftedSansTRIAL-DemiBold.woff') format('woff'),
      url('../fonts/SFTSchriftedSansTRIAL-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFT Schrifted Sans TRIAL';
  src: url('../fonts/SFTSchriftedSansTRIAL-Regular.woff2') format('woff2'),
      url('../fonts/SFTSchriftedSansTRIAL-Regular.woff') format('woff'),
      url('../fonts/SFTSchriftedSansTRIAL-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFT Schrifted Sans TRIAL';
  src: url('../fonts/SFTSchriftedSansTRIAL-Medium.woff2') format('woff2'),
      url('../fonts/SFTSchriftedSansTRIAL-Medium.woff') format('woff'),
      url('../fonts/SFTSchriftedSansTRIAL-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Trial Exp Md';
  src: url('../fonts/GTAmericaTrial-ExpMd.woff2') format('woff2'),
      url('../fonts/GTAmericaTrial-ExpMd.woff') format('woff'),
      url('../fonts/GTAmericaTrial-ExpMd.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}




